
#nav {
    background-color: rgba(100, 130, 235,1);
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    min-height: 75px;
  }

  .navbar-toggler{
      border: none;
      border-radius: 0;
      padding: 8px 18px;
      font-size: 1.5em;
      transition: all .25s ease-in;
  }
  .navbar-toggler:hover{
      border: none;
      background-color: white;
      color:  rgba(100, 130, 235,1);
      transition: all .25s ease-in;
  }
  #header {
    background-color: rgba(180, 193, 241,1);
    font-family: 'Arimo', sans-serif;
    font-weight: bolder;
    color: rgba(100, 130, 235,1);
    min-height: 500px;
  }
  #header p{
      margin-top: 1rem;
  }
  .c2{

    padding: 5em 0 0 0;
    padding: 0;
  }
  .c2 .soft{
        background:#0121987a;
        height: 100%;
  }
  .img2{
      background-image: url('../../media/img/2c.jpg');
  }
  .parallaxminor {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 0;
}
.ico {
    font-size: 5em;
}

  /*Media Queries--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 319.98px) {
    /*Teléfonos Pequeños*/

    .parallax {
        background-attachment: scroll;
    }
    .parallaxminor {
        background-attachment: scroll;
        transition: none;
    }
    .ico {
        font-size: 3em;
    }
}

@media (min-width: 320px) and (max-width: 575.90px) {
    /*Iphone 4, Teléfonos Pequeños y Medianos*/


    .parallax {
        background-attachment: scroll;
    }
    .parallaxminor {
        background-attachment: scroll;
        transition: none;
    }
    .ico {
        font-size: 4em;
    }
}

@media (min-width: 576px) and (max-width:767.98px) {
    /*Teléfonos plus, o Tablets Pequeñas */

    .parallax {
        background-attachment: scroll;
    }
    .parallaxminor {
        min-height: 0;
        background-attachment: scroll;
        transition: none;
    }
        .ico {
        font-size: 4em;
    }
}
@media (min-width: 760px) and (max-width:991.98px) {
    /*Tablets mediantas y grandes*/

    footer {
        padding: 3em 0 3em 0;
    }
    .ico {
        font-size: 4.5em;
    }
}

@media (min-width: 992px) and (max-width:1199.98px) {
    /*Ordenadores pequeños y tablets PRO*/

    footer {
        padding: 2em 0 2em 0;
    }
}

@media screen and (min-width: 1200px) {
    /*Mayoria de ordenadores grandes*/

    footer {
        padding: 2em 0 2em 0;
    }
}

  @media (max-width: 575.98px) { 
      
      .nomarginleft{
      
        margin-left: 0!important;
        }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) { 
      
      .nomarginleft{
      
      margin-left: 0!important;
        } 
  }
  

